.container1, .container2, .container3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 101px;
  background-color: aliceblue;
  margin: 25px;
}

.block {
  width: 25px;
  float: left;
  border: 1px solid black;
}

.blue {
  height: 25px;
  background-color: blue;
}

.green {
  height: 50px;
  background-color: green;
}

.red {
  height: 75px;
  background-color: red;
}

.yellow {
  height: 100px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
