body {
  background-color: black;
  color: white;
}
h1, h4 {
  color: green;
}
h1 {
  font-style: italic;
  font-size: 40px;
  letter-spacing: 12px;
}
h4 {
  letter-spacing: 3px;
}
h3 {
  color: purple;
}
p, li {
  color: lightgreen;
}
.code {
    font-size: 30px;
    color: red;
    margin-top: 10px;
}
/*game board*/
#game {
  margin-top: 20px;
}
/*font for fill box and button*/
#user-guess, .submit-guess {
  color: black;
}
#user-guess {
  background-color: yellow;
}
/*font for message displayed after submitting a guess*/
#message {
  font-size: 18px;
  color: white;
}
/*font for hidden code*/
#results {
  color: lightblue;
}
